@import "tailwindcss";

@layer base {
  body {
    @apply m-0 bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

button {
  cursor: pointer;
}